---
/*========================================*/
/*	PAGE: Home/Index
		NOTES:	
*/
/*========================================*/

//Essential Components
import Layout from '@layouts/SplashLayout.astro';

//Content Components
	//import MasterComponent from '@components/MasterComponent.astro';
	import LinkCards from '@components/contentComponents/LinkCards.astro';
	// SplitLayout from '@components/contentLayouts/SplitLayout.astro';
	import FooterNotice from '@components/contentComponents/FooterNotice.astro';
	import SiteQRCodeLink from '@components/contentComponents/SiteQRCodeLink.astro';
	//import DisplayBits from '@components/DisplayBits.astro';
---

<Layout 
	title="XYZ Building Preview"
	heading="XYZ Building Preview"
	marker="/markers/complex-marker-v1.jpg"
	qrcode="https://interzone-vr-ar-tests.netlify.app/ar-package-1?position=wall"
	background="/images/splash-background-1.jpg"
>
	
	<div class="metaDetails">
		<p class="clientName">Frank V Radomski & Sons | XYZ Building Project</p>
		<p class="companyName">Interzone Technology Group | Augmented Reality Hologram Display</p>
	</div>
	<div class="bodyText">
		<p class="instructions">
			Instructions: Scan the QR code to open the asset link, then point your phone's camera at the marker image to view the asset.
		</p>
	</div>				

	
	

</Layout>


<style lang="scss">
	.markerSection{
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			width: 100%;
			max-width: 85vh;
		}
	}
</style>