---

const {} = Astro.props;
---

<section>
	WARNING: This site/project is for working source files and should not be publically referenced, as the important files are subject to change or being temporarily mid-update. Plugin files should only be publically referenced via their official plugin repos that recieve complete milestone updates.
</section>