---

const {} = Astro.props;
---

<div class="flexContainer">
		
	<div class="Card">
		<h2>Simple Function Demos</h2>
		<p>
			Non-VR. Simple flat page demoing text-based tools such as timers
		</p>
		<div class="link">
			<a href="/tools-test-1">[Open Page]</a>
		</div>
	</div>

	<div class="Card">
		<h2>Demo Construct</h2>
		<p>
			Simple demo with build information.
		</p>
		<div class="link">
			<a href="/vr-test-1">[Open VR Construct]</a>
		</div>
	</div>

	<div class="Card">
		<h2>Augmented Reality Demo</h2>
		<p>
			Open link, point your camera at a marker image, and see a 3D model appear.
		</p>
		<div class="link">
			<a href="/ar/ar-test-1">[Open AR Construct]</a>
			<br/><br/>
			<a href="/misc/AR-Asset-Printout@3x.png">[Open AR Marker]</a>
		</div>
	</div>

	<!-- <div class="Card">
		<h2>Kink Construct</h2>
		<p>
			Simple demo with build information.
		</p>
		<div class="link">
			<a href="/vr-test-1">[Open VR Construct]</a>
		</div>
	</div> -->

</div>



<style lang="scss">
	.flexContainer{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
		margin: -1rem;
	}
	.Card{
		max-width: 100%;
		width:350px;
		//flex:1;
		align-self: stretch;
		border: var(--border-settings-main);
		box-shadow: var(--shadow-1);
		padding: 1rem;
		margin: 1rem;
		h2{
			margin: 0;
			padding-bottom: 0.5rem;
			text-align: center;
			border-bottom: var(--border-settings-main);
		}
		.tagline{
			margin-top: 0.5rem;
			font-weight: 800;
		}
		.link{
			text-align: center;
			padding: 1rem 0;
			a{
				background-color: var(--black);
				color: var(--white);
				padding: 0.5em 1em;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
					text-decoration-style: dotted;
				}
			}
		}
		.linkGroup{
			border-top: var(--border-settings-main);
			padding-top: 1rem;
			a{
				text-decoration: none;
				&:hover{
					text-decoration: underline;
					text-decoration-style: dotted;
				}
			}
		}
	}
</style>